.residentError {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.residentError__message {
    flex: 1;
    /* font-weight: bold; */
    line-height: 2;
    padding: 0.2em 0 0.2em 0em;
    margin-bottom: 0.5em;
}

.residentError__gif {
    flex: 2;
    width: 100%;
    max-width: 1920px; 
}